html{
	scroll-behavior: smooth;
}

body{
	margin: 0;
	padding: 0;
	background-image: 
	background: white /*rgba(132,134,138,0.5)*/;
	box-sizing: border-box;
	}



nav{
	display: flex;
	align-items: top;
	background-color: rgba(255,255,255,0.9);
	box-shadow: 0 2px 4px 0 rgba(0,0,0,.3);
}



ul{
	width: 100%;
	padding: 0 0 0 225px;
	list-style: none;

	}

.navlogo{
	padding-top: 8px;
	padding-left: 15px;
}

li {
	float: left;
}

li a:hover{
	color: black;
	font-size: 25px;
	transition: .7s;
	text-decoration-color: #000;
	transform: rotate(3deg);
	}


li a:active{
	text-decoration: underline;	
}

li a:visited{
	/* no need any state */
}

li a:link{
	color: white;

}

li a {
	width: 100%;
	display: inline-block;
	padding: 15px 26px;
	text-decoration: underline;
	text-decoration-color: #0000;
	font-family: 'Jura', sans-serif;
	font-weight: bold;
	color: black;
	font-size: 24px;
	text-align: center;
	transition: 0.3s linear;
}



footer{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(255,255,255,1);
	height: auto;
	width: 100vw;
	font-family: 'Roboto Mono', monospace;
	padding-top: 20px;
	color: black;
}

.footer-content{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
}

.footer-content span{
	opacity: .9;
}

h2{
	font-family: 'Jura', sans-serif;
	font-weight: bold;
	font-size: 24px;
	text-align: center;
	padding-top: 50px;
}

.aboutthen {
	font-family: 'Play', sans-serif;
	text-align: center;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
	padding-top: 60px;
	font-size: 20px;
	height: 400px;

}

.aboutthen a{
	background-color: #0c994e; /* Green */
	border: none;
	color: white;
	padding: 8px 16px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	border-radius: 14px;
	transition: 0.3s;
}

.aboutthen a:hover{
	font-size: 18px;
	}




























.concon{
	font-family: 'Play', sans-serif;
	text-align: center;
	padding-top: 25px;
}

.contacto {
	font-family: 'Play', sans-serif;
	text-align: center;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
	grid-gap: 20px;
	padding-top: 75px;
}


.contacto h3 {
	font-size: 26px;
}

.contactosocial {
	font-family: 'Play', sans-serif;
	text-align: center;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
	grid-gap: 20px;
	padding-top: 55px;
	color: black;
}


.contactosocial h3 {
	font-size: 26px;
}

.contactosocial2nd {
	font-family: 'Play', sans-serif;
	text-align: center;
	display: grid;
	grid-template-columns: 700px auto auto auto;
	grid-gap: 10px;
	padding-top: 65px;
	padding-left: 95px;
	color: black;
}


.contactosocial2nd h3 {
	font-size: 26px;
}


.address {
	transition: 0.3s ease-in;

}

.address:hover {
	font-size: 1.05em;
	transform: rotate(-3deg);
} 

.tel {
	transition: 0.3s ease-out;
}

.tel:hover {
	font-size: 1.03em;
	transform: rotate(-2deg);
} 

.maill:link{
	color: black;
	text-decoration: underline;
	text-decoration-color: #0000;
	transition: 0.3s ease-in;
}

.maill:hover{
	color: black;
	font-size: 18px;
	transition: .7s;
	text-decoration-color: #000;

}

.contactosocial a:link {
	color: black;
	text-decoration: none;
	transition: 0.7s;
}
.contactosocial a:visited {
	color: black;
	text-decoration: none;
}
.contactosocial a:hover {
	color: black;
	text-decoration: none;
	font-size: 1.5em;
	transition: 0.7s;
}

.contactosocial2nd a:link {
	color: black;
	text-decoration: none;
	transition: 0.7s;
}
.contactosocial2nd a:visited {
	color: black;
	text-decoration: none;
}
.contactosocial2nd a:hover {
	color: black;
	text-decoration: none;
	font-size: 1.5em;
	transition: 0.7s;
}
